<main>
  <section class='section'>
    <div class='container'>
      <h1 class='section__heading'>Link preview</h1>

      {{! <button type="button"></button> }}

      <div>
        <textarea
          class='text-area'
          name=''
          id=''
          cols='30'
          rows='10'
        ></textarea>
        <strong class='typer typer--hide'>
          <p>
            loading link
          </p>
          <span class='dot'>
            <span>.</span>
            <span>.</span>
            <span>.</span>
          </span>
        </strong>
        <ul class='link-list'>

        </ul>
      </div>
    </div>
  </section>
</main>